
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
    display: block;
}

.page-container {
    text-align: center;
    display: block;
    height: 100%
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
    height:10vh;
}


.logo-img {
    max-width: 150px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 0 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #d3a76e; /* Gold color */
}

/* Main Content */
.main-content {
    background: url("../images/main_background.jpg") no-repeat center center/cover;
    color: 000;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Welcome Section */
.welcome-section {
    margin-bottom: 40px;
}

.headline {
    font-size: 50px;
    margin-bottom: 10px;
    color: #f8d743; /* Gold color */
}

.subheadline {
    font-size: 18px;
    margin-bottom: 40px;
}

/* Auth Buttons */
.auth-buttons {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     width: 100%;
     max-width: 400px;
}
.form-container {
    display: none;
}

.form-container.active {
    display: block;
}
.button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-button {
    background-color: #d3a76e; /* Gold color */
    color: #fff;
}

.primary-button:hover {
    background-color: #b29054; /* Darker gold */
}

.secondary-button {
    background-color: #fff;
    color: #333;
    border: 2px solid #d3a76e;
}

.secondary-button:hover {
    background-color: #f4f4f4;
}

/* Footer */
.footer {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
    padding: 10px;
    text-align: center;
    hieght:5vh;
}

.footer p {
    font-style: italic;
}


/* Product Container */
    .prducts-container{
        display: flex;
        margin: 20px auto;
        flex-direction: row wrap;
        justify-content: space-between;
    }
    .product-container {
      margin: 20px auto;
      padding: 20px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: row wrap;
      gap: 20px;
      flex-basis: 30%;
    }
    /* Product Image */
    .product-image {
      flex: 1 1 400px;
      text-align: center;
    }
    .product-image img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }
    /* Product Details */
    .product-details {
      flex: 1 1 600px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .product-details h2 {
      margin: 0 0 10px;
      font-size: 2em;
      color: #333;
    }
    .product-details p {
      margin: 10px 0;
      color: #555;
    }
    .product-details .price {
      font-size: 1.5em;
      color: #e74c3c;
      font-weight: bold;
    }
    .product-details .stock {
      font-size: 1.2em;
      color: #27ae60;
    }
    /* Button */
    .product-details .add-buttons {
        margin-top: 20px;
        padding: 10px 20px;
        width:100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .product-details .add-button .buy-button, .product-details .add-button .buy-button {
      flex-basis: 50%;
      background-color: #3498db;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 1.1em;
      cursor: pointer;
    }
    .product-details .buy-button:hover {
      background-color: #2980b9;
    }

    .section {
        margin-bottom: 40px;
    }

    .about-image {
        width: 100%;
        height: auto;
        margin-top: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Values Section */
    h1 {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 15px;
    }

    p {
        font-size: 1.1em;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        padding-left: 20px;
    }

    ul li {
        margin-bottom: 15px;
    }

    ul li strong {
        font-weight: bold;
        color: #333;
    }


/* Contact Info Section */
.contact-info {
    background-color: #fff;
    padding: 40px 20px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details {
    text-align: center;
    margin-bottom: 40px;
}

.contact-details h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.contact-details p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #555;
}

.contact-details i {
    color: #007BFF;
    margin-right: 10px;
}

.social-media {
    text-align: center;
}

.social-media h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.social-media ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media li {
    margin: 0;
}

.social-media a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #007BFF;
}

.social-media i {
    margin-right: 8px;
}
/* home  */
/* Hero Section */
.hero {
    background: url('@routes.Assets.versioned("images/hero-bg.jpg")') no-repeat center center;
    background-size: cover;

    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Featured Products Section */
.featured-products {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.featured-products h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

