@(id: String)(product: List[(Product,Int)])

@main("Jwellery Store") {
@if(product.isEmpty){
<h1 xmlns="http://www.w3.org/1999/html">"no products found"</h1>
}else{
<header class="header">
    <div class="logo">
        <img src=@routes.Assets.versioned("images/logo.jpg") alt="Logo" class="logo-img" height="16" width="16"/>
    </div>
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="@routes.HomeController.user(id)" class="nav-link">Shop</a></li>
            <li class="nav-item"><a href="@routes.HomeController.about()" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
            <li class="nav-item"><a href="@routes.HomeController.getCartItems()" class="nav-link">Cart</a></li>
            <li class="nav-item"><a href="@routes.HomeController.logout()" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="products-container">
    @for((prod,quantity) <- product){
    <div class="product-container">
        <!-- Product Image -->
        <div class="product-image">
            <img src=@prod.imageURL alt="Diamond Ring">
        </div>

        <!-- Product Details -->
        <div class="product-details">
            <h2>@prod.name</h2>
            <p><strong>Description:</strong> @prod.description</p>
            <p class="price">@prod.price</p>
            <p><strong>Category:</strong> @prod.category</p>
            <p>@quantity quantity needed </p>
            <button class="buy-button" >Order Now</button>
            </div>
        </div>

    </div>
    }
</div>
}
}

